<h1>Welcome!</h1>
<br>

<h2>Register</h2>
<%= form_for :user, url: "/users" do |f| %>
    <p>First Name: <%= f.text_field :first_name %></p>
    <p>Last Name: <%= f.text_field :last_name %></p>
    <p>Email: <%= f.text_field :email %></p>
    <p>Location: <%= f.text_field :location %></p>
    <p>State: <%= select_tag :state, options_for_select(us_states) %></p>
    <p>Password: <%= f.password_field :password %></p>
    <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
    <%= submit_tag "Register" %>
<% end %>
<br>

<h2>Login</h2>
<%= form_for :user, url: "/sessions" do |f| %>
    <p>Email: <%= f.text_field :email %></p>
    <p>Password: <%= f.password_field :password %></p>
    <%= submit_tag "Login" %>
<% end %>
