<%= form_for(@dojo) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@dojo.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
        <% @dojo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="fields">
        <% label_tag(:branch, "Branch:") %>
        <%= f.text_field :branch %><br><br>
        <% label_tag(:street, "Street:") %>
        <%= f.text_field :street %><br><br>
        <% label_tag(:city, "City:") %>
        <%= f.text_field :city %><br><br>
        <% label_tag(:state, "State:") %>
        <%= f.text_field :state %><br><br>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  