<h1>Submitted Information</h1>

Name: <%= @ninja.name %><br>
Dojo Location: <%= @ninja.location %><br>
Favorite Language: <%= @ninja.language %><br>
Comment: <%= @ninja.comment %><br>

<%= link_to  "Back", new_ninja_path %>